/.vs
/.idea
/release
/artifacts
/packages
/TestResults
/Storage/sing-box.exe
/Storage/sing-box.manifest.json
/Storage/v2ray-sn.exe
/Storage/v2ray-sn.manifest.json
/Storage/geoip.dat
/Storage/geosite.dat
/Storage/aiodns.bin
/Storage/GeoLite2-Country.mmdb
/Storage/nfapi.dll
/Storage/Redirector.bin
/Storage/RouteHelper.bin
/Storage/wintun.dll
